<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
  <div class="card">
    <img class="card-img-top" src="<%= data['poster'] %>">
    <div class="card-block">
      <h4 class="card-title"><%= data['title'] %></h4>
      <div class="meta">
        <%= data['actors'] %>
      </div>
      <div class="card-text">
        <%= data['plot'] %>
      </div>
    </div>
    <div class="card-footer">
      <span class="float-right">IMDB: <%= data['imdb_rating'] %></span>
      <span><i class=""></i><%= data['year'] %>, Rating: <%= data['rated'] %></span>
    </div>
  </div>
</div>
